@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #171738;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e1760;
  font-family: "Rambla", sans-serif;
  font-size: 36px;
  color: #dff3e4;
  padding: 8px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 16px;
  padding: 8px;
}

.container-board {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 32px;
  height: 500px;
  width: 500px;
  border-radius: 8px;
  background-color: #dff3e4;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 32px;
  padding: 16px 8px;
  height: 450px;
  width: 300px;
  background-color: #171738;
}

button {
  height: 72px;
  width: 120px;
  padding: 4px;
  border: 4px solid #7180b9;
  background-color: #2e1760;
  border-radius: 8px;
  font-family: "Rambla", sans-serif;
  font-size: 24px;
  color: #dff3e4;
  cursor: pointer;
}

button:hover {
  border: 4px solid #2e1760;
  background-color: #7180b9;
  color: #2e1760;
}

.pencil,
.options,
.reset {
  display: flex;
  align-items: center;
  gap: 48px;
}
